/*=== abstracts css start === */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
/*===// end of abstracts css === */
/*=== base css start === */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

::after, ::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, ol, ul, p, address, strong, i {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul, li {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000;
}

/*===// end of base css === */
/*=== layouts css start === */
/*===// end of layouts css === */
/*=== components css start === */
.all-wrapper {
  padding-top: 40px;
  min-width: 1300px;
}
.all-wrapper .top {
  position: relative;
  min-height: 350px;
}
.all-wrapper .top .vertical {
  position: absolute;
  left: 40%;
}
.all-wrapper .top .vertical .slot {
  width: 50px;
}
.all-wrapper .top .vertical .left {
  position: absolute;
  right: 0;
}
.all-wrapper .top .vertical .left .slot {
  padding-block: 3px;
}
.all-wrapper .top .vertical .right {
  position: absolute;
  left: 0;
}
.all-wrapper .top .vertical .right .slot {
  padding-block: 2px;
}
.all-wrapper .top .horizontal {
  position: absolute;
  left: 40%;
  top: 347px;
  transform: rotate(270deg);
  transform-origin: 0% 0%;
}
.all-wrapper .top .horizontal .slot {
  width: 60px;
  padding-block: 2px;
}
@media (max-width: 1440px) {
  .all-wrapper .top .horizontal .slot {
    padding-block: 0;
  }
}
.all-wrapper .top .horizontal-2 {
  position: absolute;
  left: calc(40% - 315px);
  top: 310px;
  transform: rotate(255deg);
  transform-origin: 100% 15%;
  z-index: 999;
}
.all-wrapper .top .horizontal-2 .slot {
  width: 60px;
  padding-block: 2px;
}
.all-wrapper .top .last-2 {
  position: absolute;
  left: calc(40% + 752px);
  bottom: 64px;
}
@media (max-width: 1440px) {
  .all-wrapper .top .last-2 {
    left: calc(40% + 640px);
  }
}
.all-wrapper .top .last-2 .slot {
  width: 60px;
  padding-block: 2px;
}
.all-wrapper .bottom {
  position: relative;
  height: 900px;
  margin-bottom: 20px;
}
.all-wrapper .bottom .column-A {
  position: absolute;
  left: 90%;
  bottom: 30px;
  padding-top: 120px;
}
.all-wrapper .bottom .column-A .slot {
  width: 55px;
  padding-block: 2px;
}
.all-wrapper .bottom .column-A .slot.moved-1 {
  position: absolute;
  right: 5px;
  top: 100px;
  padding-block: 0;
}
.all-wrapper .bottom .column-A .slot.moved-2 {
  position: absolute;
  right: 10px;
  top: 80px;
  padding-block: 0;
}
.all-wrapper .bottom .column-A .slot.moved-3 {
  position: absolute;
  right: 15px;
  top: 60px;
  padding-block: 0;
}
.all-wrapper .bottom .column-A .slot.moved-4 {
  position: absolute;
  right: 20px;
  top: 40px;
  padding-block: 0;
}
.all-wrapper .bottom .column-A .slot.moved-5 {
  position: absolute;
  right: 25px;
  top: 20px;
  padding-block: 0;
}
.all-wrapper .bottom .column-A .slot.moved-6 {
  position: absolute;
  right: 30px;
  top: 0px;
  padding-block: 0;
}
.all-wrapper .bottom .column-A .cover {
  position: absolute;
  right: -10px;
  top: -10px;
  width: 30px;
  height: 150px;
  background: #ffffff;
  z-index: 9;
  transform: rotate(345deg);
  border-left: 1px solid #fdcf03;
}
.all-wrapper .bottom .column-A .top-hat {
  position: absolute;
  bottom: 100%;
  right: 35px;
  border: 1px solid #fdcf03;
  height: 20px;
  width: 120px;
  z-index: 99;
  background: #fff;
}
.all-wrapper .bottom .column-B {
  position: absolute;
  left: 78%;
  bottom: 0px;
}
.all-wrapper .bottom .column-B .slot {
  width: 55px;
}
.all-wrapper .bottom .column-B .left {
  position: absolute;
  right: 0;
  bottom: 0;
}
.all-wrapper .bottom .column-B .right {
  position: absolute;
  left: 0;
  bottom: 10px;
}
.all-wrapper .bottom .column-C {
  position: absolute;
  left: 66%;
  bottom: 0px;
}
.all-wrapper .bottom .column-C .slot {
  width: 55px;
}
.all-wrapper .bottom .column-C .left {
  position: absolute;
  right: 0;
  bottom: 5px;
}
.all-wrapper .bottom .column-C .right {
  position: absolute;
  left: 0;
  bottom: 0;
}
.all-wrapper .bottom .column-D {
  position: absolute;
  left: 52%;
  bottom: 0px;
}
.all-wrapper .bottom .column-D .slot {
  width: 55px;
}
.all-wrapper .bottom .column-D .left {
  position: absolute;
  right: 0;
  bottom: 0;
}
.all-wrapper .bottom .column-D .right {
  position: absolute;
  left: 0;
  bottom: 0;
}
.all-wrapper .bottom .column-E {
  position: absolute;
  left: 38%;
  bottom: 0px;
}
.all-wrapper .bottom .column-E .slot {
  width: 55px;
}
.all-wrapper .bottom .column-E .left {
  position: absolute;
  right: 0;
  bottom: 0;
}
.all-wrapper .bottom .column-E .right {
  position: absolute;
  left: 0;
  bottom: 10px;
}
.all-wrapper .bottom .column-F {
  position: absolute;
  left: 25%;
  bottom: 0px;
}
.all-wrapper .bottom .column-F .slot {
  width: 55px;
}
.all-wrapper .bottom .column-F .left {
  position: absolute;
  right: 0;
  bottom: 40px;
}
.all-wrapper .bottom .column-F .right {
  position: absolute;
  left: 0;
  bottom: 0;
}
.all-wrapper .bottom .column-G {
  position: absolute;
  left: 10%;
  bottom: 15px;
}
.all-wrapper .bottom .column-G .slot {
  width: 55px;
}
.all-wrapper .bottom .column-G .left {
  position: absolute;
  right: 0;
  bottom: 70px;
}
.all-wrapper .bottom .column-G .right {
  position: absolute;
  left: 0;
  bottom: 0;
}

.slot {
  background: #01ff4d;
  display: block;
  border: 1px solid #fdcf03;
  padding-left: 2px;
  cursor: pointer;
  font-size: 12px;
}
.slot.occupied {
  background: #eb0606;
  color: #fff;
}
.slot:hover {
  background: #6d6d6d;
  color: #fff;
}

.py-m-2 {
  padding-block: 2px;
}

.py-mm {
  padding-block: 4.5px;
}

.label {
  position: absolute;
  bottom: 100%;
  border: 1px solid #186583;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*===// end of components css === *//*# sourceMappingURL=style.css.map */