.all-wrapper {
    padding-top: 40px;
    min-width: 1300px;

    .top {
        position: relative;
        min-height: 350px;

        .vertical {
            position: absolute;
            left: 40%;

            .slot {
                width: 50px;
            }

            .left {
                position: absolute;
                right: 0;

                .slot {
                    padding-block: 3px;
                }
            }

            .right {
                position: absolute;
                left: 0;

                .slot {
                    padding-block: 2px;
                }
            }
        }

        .horizontal {
            position: absolute;
            left: 40%;
            top: 347px;
            transform: rotate(270deg);
            transform-origin: 0% 0%;

            .slot {
                width: 60px;
                padding-block: 2px;

                @media(max-width: 1440px) {
                    padding-block: 0;
                }
            }
        }

        .horizontal-2 {
            position: absolute;
            left: calc(40% - 315px);
            top: 310px;
            transform: rotate(255deg);
            transform-origin: 100% 15%;
            z-index: 999;

            .slot {
                width: 60px;
                padding-block: 2px;
            }
        }

        .last-2 {
            position: absolute;
            left: calc(40% + 752px);
            bottom: 64px;

            @media(max-width: 1440px) {
                left: calc(40% + 640px);
            }

            .slot {
                width: 60px;
                padding-block: 2px;
            }
        }
    }

    .bottom {
        position: relative;
        height: 900px;
        margin-bottom: 20px;

        .column-A {
            position: absolute;
            left: 90%;
            bottom: 30px;
            padding-top: 120px;

            .slot {
                width: 55px;
                padding-block: 2px;

                &.moved-1 {
                    position: absolute;
                    right: 5px;
                    top: 100px;
                    padding-block: 0;
                }

                &.moved-2 {
                    position: absolute;
                    right: 10px;
                    top: 80px;
                    padding-block: 0;
                }

                &.moved-3 {
                    position: absolute;
                    right: 15px;
                    top: 60px;
                    padding-block: 0;
                }

                &.moved-4 {
                    position: absolute;
                    right: 20px;
                    top: 40px;
                    padding-block: 0;
                }

                &.moved-5 {
                    position: absolute;
                    right: 25px;
                    top: 20px;
                    padding-block: 0;
                }

                &.moved-6 {
                    position: absolute;
                    right: 30px;
                    top: 0px;
                    padding-block: 0;
                }
            }

            .cover {
                position: absolute;
                right: -10px;
                top: -10px;
                width: 30px;
                height: 150px;
                background: #ffffff;
                z-index: 9;
                transform: rotate(345deg);
                border-left: 1px solid #fdcf03;
            }

            .top-hat {
                position: absolute;
                bottom: 100%;
                right: 35px;
                border: 1px solid #fdcf03;
                height: 20px;
                width: 120px;
                z-index: 99;
                background: #fff;
            }
        }

        .column-B {
            position: absolute;
            left: 78%;
            bottom: 0px;

            .slot {
                width: 55px;
            }

            .left {
                position: absolute;
                right: 0;
                bottom: 0;
            }

            .right {
                position: absolute;
                left: 0;
                bottom: 10px;
            }
        }

        .column-C {
            position: absolute;
            left: 66%;
            bottom: 0px;

            .slot {
                width: 55px;
            }

            .left {
                position: absolute;
                right: 0;
                bottom: 5px;
            }

            .right {
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }

        .column-D {
            position: absolute;
            left: 52%;
            bottom: 0px;

            .slot {
                width: 55px;
            }

            .left {
                position: absolute;
                right: 0;
                bottom: 0;
            }

            .right {
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }

        .column-E {
            position: absolute;
            left: 38%;
            bottom: 0px;

            .slot {
                width: 55px;
            }

            .left {
                position: absolute;
                right: 0;
                bottom: 0;
            }

            .right {
                position: absolute;
                left: 0;
                bottom: 10px;
            }
        }

        .column-F {
            position: absolute;
            left: 25%;
            bottom: 0px;

            .slot {
                width: 55px;
            }

            .left {
                position: absolute;
                right: 0;
                bottom: 40px;
            }

            .right {
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }

        .column-G {
            position: absolute;
            left: 10%;
            bottom: 15px;

            .slot {
                width: 55px;
            }

            .left {
                position: absolute;
                right: 0;
                bottom: 70px;
            }

            .right {
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }
    }
}

.slot {
    background: #01ff4d;
    display: block;
    border: 1px solid #fdcf03;
    padding-left: 2px;
    cursor: pointer;
    font-size: 12px;

    &.occupied {
        background: #eb0606;
        color: #fff;
    }

    &:hover {
        background: #6d6d6d;
        color: #fff;
    }
}

.py-m-2 {
    padding-block: 2px;
}

.py-mm {
    padding-block: 4.5px;
}

.label {
    position: absolute;
    bottom: 100%;
    border: 1px solid #186583;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}